# joke website; nothing secret
secret.itayvak.com {
    reverse_proxy youaregay:80
}

# Dynamic route for testing new apps
# Comment/Uncomment this based on usage
#testing.itayvak.com {
#    reverse_proxy ...
#}

notes.itayvak.com {
    reverse_proxy siyuan:6806
}

photos.itayvak.com {
    reverse_proxy immich_server:2283
}

passwords.itayvak.com {
    reverse_proxy vaultwarden:80
}

boards.itayvak.com {
    reverse_proxy planka:1337
}

docs.itayvak.com {
    reverse_proxy mkdocs:80
}

monitoring.itayvak.com {
    reverse_proxy beszel:8090
}
