# Immich env vars, find documentation in: https://docs.immich.app/install/environment-variables

UPLOAD_LOCATION=/apps/storage/media/immich
DB_DATA_LOCATION=/apps/data/immich
# VVV Find values from https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
TZ=Asia/Jerusalem
IMMICH_VERSION=v3.1.0
DB_USERNAME=postgres
DB_DATABASE_NAME=immich

# Secrets
DB_PASSWORD=$DB_PASSWORD
